* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  text-align: center;
  font-size: 20px;
  width: auto;
  margin: auto;
}

#exercise {
  display: inline-block;
  padding: 1rem 0 1rem 1rem;
}

header {
  padding: 32px;
  background-color: #cccccc;
  position: relative;
  display: flex;
}

h1 {
  font-size: 150%;
  display: inline;
  text-align: left;
}

main {
  background-color: #b4b0b0;
  padding: 32px;
}

nav {
  display: inline-block;
  position: absolute;
  right: 16px;
  text-align: right;
}

nav div {
  display: inline-block;
}

nav a {
  display: inline-block;
  background: #234465;
  color: white;
  padding: 8px 16px;
  margin: 0 8px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
}

nav a:hover {
  background-color: #70dfcc;
  color: white;
}

a.active {
  background-color: #70dfcc;
  color: white;
}

.wrapper {
  width: 100%;
  max-width: auto;
  margin: 48px auto;
}

.card-wrapper {
  border-radius: 2px;
  padding: 24px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  margin-bottom: 48px;
}

.wrapper table {
  margin-top: 24px;
  vertical-align: center;
}

.wrapper table img {
  max-width: 80px;
  max-height: 80px;
}

.wrapper table td {
  vertical-align: middle;
}

#exercise button {
  display: block;
  width: 50%;
  background: #234465;
  color: white;
  border: none;
  height: 5vh;
  border-radius: 10px;
  font-weight: bold;
  margin: 20px auto;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
  background-color: #70dfcc;
  color: white;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

form {
  padding: 32px;
}

label {
  display: block;
  position: relative;
  margin: 16px 0;
  text-align: right;
  padding-right: 520px;
  line-height: 48px;
}

input[type="text"], input[type="password"], textarea {
  position: absolute;
  right: 0px;
  width: 500px;
  padding: 8px;
}

textarea {
  height: 300px;
  resize: none;
}

.ml {
  height: 300px;
}

input[type="submit"] {
  display: block;
  border: none;
  margin: auto;
  background: #234465;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

input[type="submit"]:hover {
  background-color: #6c8b47;
  color: white;
  cursor: pointer;
}

.orders{
  margin: 20px auto;
}

span{
  font-weight: bold;
}

.paid{
  background: #58ebbe;
}

.unpaid{
  background: #d693c0;
}

.elN{
  width: 50px;
}

.old{
  width: 50px;
}

.new{
  width: 50px;
}

.phone{
  width: 100px;
}

.post{
  width: 700px;
  margin: 10px;
  font-size: 20px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #696868;
  color: white;
  text-align: center;
}

select {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: 1.2rem;
}

.arch {
  display: inline-block;
  position: relative;
  text-align: right;
  padding: 0px 0px;
  font-size: 1.2rem;
}

#del-user {
  width: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
